#nav {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    color: black;
    background-color: rgba(255,255,255,.5);
    padding: 20px;
    border-radius: 20px;
    z-index: 100;
}

#snack {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    color: black;
    background-color: rgba(255,255,255,.5);
    padding: 20px;
    border-radius: 20px;
    z-index: 100;
}